<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Pagina de inicio</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body ng-app="myApp" ng-controller="myController" >
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">
                    Shopping Center
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <!--<li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">All Products</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                                <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                            </ul>
                        </li>-->
                    </ul>
                    <form class="d-flex">
                        <!--<button class="btn btn-outline-dark" type="button">
                            <i class="bi-cart-fill me-1"></i>
                            Canasta
                            <span class="badge bg-dark text-white ms-1 rounded-pill" id="cartlength"></span>
                        </button>-->
                    </form>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">El Librito Store                    </h1>
                    <p class="lead fw-normal text-white-50 mb-0"></p>
                </div>
            </div>
        </header>
        <!-- Section-->
        
        
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                
                
                <div class="row gx-3 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-3 justify-content-center">
                    
                    
                        <div class="col-7 mb-5">Productos de la categoría: 
                        </div>
                        <div class="col-3 mb-5">
                           <input class="search-bar" ng-model="query.nombre" placeholder="Buscar...">
                        </div>
                        <div class="col-2 mb-5">
                            <select ng-controller="myControllerCat" ng-model="query.cat_id"><!-- ng-app="myAppCat" ng-controller="myControllerCat"-->
                                <option value="">Elija categoría</option>
                                <option ng-repeat="categorias in list" value="{{categorias.cat_id}}">{{categorias.cat_nombre}}</option>
                                
                            </select>
                        </div>
                    
                        <div class="col mb-5" ng-repeat="products in list  | filter: query">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">{{products.nombre}}</h5>
                                        <!-- Product price-->
                                        ${{products.precio}}
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">DETALLES</a>
                                        <a class="btn btn-outline-dark mt-auto" ng-click = "add_cart(products)" href="javascript:void(0)">A CANASTA</a></div>
                                    
                                </div>
                            </div>
                        </div>
                        


                        <div class = "pull-right col-md-5">
                            <div class = "panel panel-primary">
                                <div class = "panel-heading">
                                    <h5>MI CANASTA</h5>
                                </div>
                                <div class = "panel-body table-responsive">
                                    <table class = "table">
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Price</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat = "cart in carts" ng-init = "setTotals(cart)">
                                                <td>{{cart.p_name}}</td>
                                                <td>${{cart.p_price}}</td>
                                                <td><button type = "button" ng-click = "remove_cart(cart)" class = "btn btn-danger"><span class = "glyphicon glyphicon-remove"></span></button></td>
                                            </tr>
                                            <tr>
                                                <td align = "right">Total</td>
                                                <td>${{total}}</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">

                                                    <div class="text-center" ng-if="total > 0">
                                                        <a class="btn btn-outline-dark mt-auto" onclick="mensaje()" href="javascript:void(0)">PAGAR</a>
                                                    </div>
                                                </td>
                                                
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                   
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Derechos Reservados &copy; 2022</p></div>
        </footer>



        <!--The Controller-->
<script>
    var app = angular.module('myApp', []);
    app.controller('myController',
        function ($scope, $http) {
            $scope.carts=[];
            var request = {
                method: 'get',
                url: 'productos.json',
                dataType: 'json',
                contentType: "application/json"
            };

            $scope.arrProductos = new Array;

            $http(request)
                .success(function (jsonData) {
                    $scope.arrProductos = jsonData;
                    $scope.list = $scope.arrProductos;
                })
                .error(function () {

                });
            
            $scope.add_cart = function(product){
					if(product){
						$scope.carts.push({p_id: product.prod_id, p_name: product.nombre, p_price: product.precio});
					}	
			}
						
					
			$scope.total = 0;
				
			$scope.setTotals = function(cart){
				if(cart){
						$scope.total += cart.p_price;
				}
			}
				
			$scope.remove_cart = function(cart){
					if(cart){
						$scope.carts.splice($scope.carts.indexOf(cart), 1);
						$scope.total -= cart.p_price;
					}
			}

            $cartlength = 0;

			$scope.emptyArr = function (cart) {
                $scope.cart.length = 0;
 
            };

        });

        app.controller('myControllerCat',
        function ($scope, $http) {

            var request = {
                method: 'get',
                url: 'categorias.json',
                dataType: 'json',
                contentType: "application/json"
            };

            $scope.arrCategorias = new Array;

            $http(request)
                .success(function (jsonData) {
                    $scope.arrCategorias = jsonData;
                    $scope.list = $scope.arrCategorias;
                })
                .error(function () {

                });
        });


        //*var app = angular.module('myAppCat', []);
    /*app.controller('myControllerCat',
        function ($scope, $http) {

            var request = {
                method: 'get',
                url: 'categorias.json',
                dataType: 'json',
                contentType: "application/json"
            };

            $scope.arrCategorias = new Array;

            $http(request)
                .success(function (jsonData) {
                    $scope.arrCategorias = jsonData;
                    $scope.list = $scope.arrCategorias;
                })
                .error(function () {

                });
        });*/
        function mensaje(){
            Swal.fire(
                {
    title: 'Compra efectuada!',
    text: 'Muchas gracias por visitarnos.',
    icon: 'success',
    showCancelButton: false,
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    confirmButtonText: 'Cerrar'
 }).then(function(result) {
   if (result.isConfirmed) {
    location.reload();
   }
 }
            );
           
        }
</script>



        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
